body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    background: url('/images/bg2.png') no-repeat center center fixed;
    -webkit-background-size: fixed;
    -moz-background-size: fixed;
    -o-background-size: fixed;
    background-size: fixed;
}

#cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
